.tw-button-filled {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: capitalize;
    width: auto;
    height: 30px;
    padding: 0 16px;
    min-height: auto;
    border-radius: 24px;
    background-color: var(--color-primary);
    border: unset;
    min-width: 85px;
  }

  .message {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
  }
  .popover-body {
      padding: 2em;
  }
